@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom variables --- */
:root {
  --bg-color: #ffffff;
  --text-color: #213547;
  --accent-color: #646cff;
}

/* --- Base layer --- */
@layer base {
  html,
  body {
    font-family: "Gilroy", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: transparent;
    margin: 0;
    min-height: 100vh;
  }
}
